




<style>
    #div1 , #div2{
        height: 100px;
        width: 100px;
        background-color: maroon;
    }
    #div2{
        background-color:darkblue;
    }
</style>




<h1>Insdfsfddex</h1>
<div id="div1">Red</div>

<div id="div2">Blue</div>